node_modules
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Visual Studio Code folder
.vscode

# tailwind, keep un-tracked and ignored while in development
styles.json

# Yarn files
yarn-error.log
yarn.lock

# macOS
.DS_Store
